@media screen and (max-width: 576px) {
    .header {
    
        flex-direction: column;
    }
    .menu {
        width: 80%;
    }
    .menu ul {
        flex-direction: column;
        text-align: center;
    }
    .menu ul li{
        margin: 1em 0;
    }
/* banner */
    .banner-text{
        width: 100%;
    }
    .banner-text h1 {
        margin: 0;
        line-height: normal;
        font-size: 2.6em;
    }
    .banner-text p{
        margin: 2em 0 2.3em 0;
}
/* features list */
.features-list{
    flex-direction: column;
    justify-items: center;
}
.features-list-imgs {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}
.features-list-text {
    margin: 2em 0 0 1em;
}

}