@media screen and (max-width: 576px) {
    .header {
    
        flex-direction: column;
    }
    .menu {
        width: 80%;
    }
    .menu ul {
        flex-direction: column;
        text-align: center;
    }
    .menu ul li{
        margin: 1em 0;
    }
/* banner */
    .banner-text{
        width: 100%;
    }
    .banner-text h1 {
        margin: 0;
        line-height: normal;
        font-size: 2.6em;
    }
    .banner-text p{
        margin: 2em 0 2.3em 0;
}
/* features list */
.features-list{
    flex-direction: column;
    justify-items: center;
}
.features-list-imgs {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}
.features-list-text {
    margin: 2em 0 0 1em;
}
/* Features */
.features-container {
    flex-direction: column;
}
.features {
    width: 100%;
    margin: .5em;
}
.features-header h1 {
    margin: 0;
    padding: 0;
}
.features-img {
    width: 100%;
}
/* Projects */
.project-text {
    width: 100%;
}
.projects {
    flex-direction: column;

}
.project {
    margin: 1em;
}
/* sponsors */
.sponsors p {
    padding: 0;
}
.sponsor-img {
    flex-direction: column;
}

.sponsor-img img {
    margin: 1em auto;
    width: 70%;
}
/* About Us */
.about-container {
    flex-direction: column-reverse;
}
.about-img {
    width: 100%;
}
.about-us-text {
    width: 100%;
    margin: 0 0 .5em 0;
}
}
