/* Font */
  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:wght@400;500;600;700&display=swap');

/* Common Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
header {
    background-color: #FF900E1A;
}
.container {
    width: 80%;
    margin: 0 auto;
}
button {
    padding: 1.3em 1.5em;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
/* header*/
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    color: #131313; 
}
.logo h3 {
    font-size: 3em;
    margin: 0;
}
.menu {
    width: 40%;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 18px;
}
a:visited {
    color: #131313;
} 
/* Header eend */
/* banner start */
.banner-text {
    width: 60%;
    margin: 3em auto;
    text-align: center;
}
.banner-text h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 0.5em;

}
.banner-text p{
    margin: 0 0 3.3em 0;
}
.banner-image {
    padding-bottom: 2.8em;
}
.banner-image img{
    width: 100%;
}

/* Features list */
.features-list {
    display: flex;
    margin-top: 5.3em;
    margin-bottom: 8em;
}
.features-list-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.features-list-text {
    margin:10em 0 0 4.5em;
}
.features-list-text h1 {
    font-size: 2.8em;
    font-weight: 500;
}
.f-list-1{
    color: #727272;
}
.f-list-2 {
    color: #FF900E;
}
.features-list-text p {
    margin-bottom: 2.5em;
}
/* Features */
.features-container {
    display: flex;
    justify-content: space-between;
}
.features {
    margin-right: 3em;
    width: 50%;
}
.features-header {
    display: flex;
}
.header-line {
    border-left: 5px solid #FF900E;
    height:6.5em;
}
.features-header h1{
    font-size: 2.8em;
    margin: 0;
    margin-left: .5em;
    padding-right: 1.5em;
}
.feature {
    margin-top: 1em;
    box-shadow: 0.5em 0.5em 0.5em 0.5em  #F3F3F3;
    border-radius: 5px;
}
.feature h1 {
    font-size: 1.2em;
    margin: 0;
    padding: 1.5em 2em 0 1.5em;
}
.feature p {
    font-size: 1em;
    margin: 0;
    padding:1.5em;
}
.features-img {
    width: 50%;
    position: relative;
}
.features-img img {
    width: 100%;
}
.big-btn {
    position: absolute;
   bottom: 0.5em;
   left: -1em;
}
.btn-text {
    display: block;
    font-size: 3em;
    font-weight: 500;
}
/* Projects */
.project-text {
    width: 50%;
    margin-top: 7em;
    margin-bottom: 5em;
}
.project-text h1 {
    font-size: 2.8em;
    margin: 0;
    margin-bottom: 0.5em;
}
.projects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6em;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FF900E;
    border-radius: 6px;
    height: 14em;
    width: 14em;
    justify-content: space-evenly;
}
.project img {
    width: 2.8em;
    height: 2.8em;
  
}
.project h1,p{
    margin: 0;
   
}

/* Sponsors */
.sponsors h1 {
    font-size: 2.8em;
    text-align: center;
}
.sponsors p {
    font-size: 1em;
    text-align: center;
    padding: 0 21em;
}
.sponsor-img {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

/* footer */
footer {
    width: 80%;
    background-color:#FF900E1A;
    text-align: center;
    margin: 8em auto;
    border-radius: 5px;
}
footer p {
    font-size: 1.2em;
    padding: 2.5em 0;
}